* text=auto

*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.html text eol=lf
*.svg text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.bat text eol=crlf

*.keras filter=lfs diff=lfs merge=lfs -text
*.npy binary
*.task binary
*.png binary
